<div id="page-content" class="clearfix">
	<div class="page-header position-relative">
		<h1>Web drive <small><i class="icon-double-angle-right"></i> Browse and download all your files</small></h1>
	</div><!--/.page-header-->

	<div class="row-fluid">
	    
	    <div class="row-fluid">@Html.Partial("_Suggestions")</div>

	    <!--PAGE CONTENT BEGINS HERE-->
	    <div class="row-fluid">
    
	        <div class="span8">
	            
	            <div class="widget-box">
	                
	                <div class="widget-header widget-header-flat" id="breadcrumbs">
	                    @Html.Partial("_Breadcrumb")
	                    <div class="widget-toolbar"><button class="btn btn-primary btn-small" id="btnUpload">Upload</button></div>
                        

	                </div>
	                <div class="widget-body"><div class="widget-main">@Html.Partial("_Drive")</div></div>
	            
	            </div><!-- /widget-box -->

	        </div><!--/span-->
            
	        <div class="span4">
	            
	            <div class="widget-box">
	                
	                <div class="widget-header widget-header-flat"><h6>Recent downloads</h6></div>
	                <div class="widget-body"><div class="widget-main">@Html.Partial("_RecentDownloads")</div></div>
	            
                </div><!-- /widget-box -->
	            
	        </div><!-- /span -->
	    </div>

	    <!--PAGE CONTENT ENDS HERE-->
	</div><!--/row-->
</div><!--/#page-content-->

<div id="dropbox" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-body" style="height: 400px;">
        <h5 class="text-center orange" style="padding-top: 180px;">Please drag and drop the file(s) to upload here...</h5>
    </div>
    <div class="modal-footer"><button class="btn btn-small" data-dismiss="modal" aria-hidden="true">Close</button></div>
</div>

@Scripts.Render("~/Scripts/webdrive.js")
<script type="text/javascript">
    $(function() {
        $('#btnUpload').click(function() {
            $('#dropbox').modal();
        });
        
        var dropbox = $('#dropbox'),
            message = $('.message', dropbox);

        dropbox.filedrop({
            // The name of the $_FILES entry:
            paramname: 'pic',

            maxfiles: 5,
            maxfilesize: 2, // in mb
            url: '/api/documents',

            uploadFinished: function (i, file, response) {
                $.data(file).addClass('done');
                // response is the JSON object that post_file.php returns
            },

            error: function (err, file) {
                switch (err) {
                    case 'BrowserNotSupported':
                        showMessage('Your browser does not support HTML5 file uploads!');
                        break;
                    case 'TooManyFiles':
                        alert('Too many files! Please select 5 at most!');
                        break;
                    case 'FileTooLarge':
                        alert(file.name + ' is too large! Please upload files up to 2mb.');
                        break;
                    default:
                        break;
                }
            },

            // Called before each upload is started
            beforeEach: function (file) {
//                if (!file.type.match(/^image\//)) {
//                    alert('Only images are allowed!');
//
//                    // Returning false will cause the
//                    // file to be rejected
//                    return false;
//                }
            },

            uploadStarted: function (i, file, len) {
//                createImage(file);
            },

            progressUpdated: function (i, file, progress) {
//                $.data(file).find('.progress').width(progress);
            }

        });

        var template = '...';


        function showMessage(msg) {
//            message.html(msg);
        }

    });
</script>